* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 40px auto;
  padding: 40px;
  background-color: coral;
  height: 100vh;
}
