body {
  font-family: Arial, sans-serif;
  background-color: black;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
border-radius: 8px;
  height: 70vh;
  border: 5px dashed white;
  padding: 1rem;

}

.item {
  background-color: lightcoral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
  border: 1px solid cyan;

}

.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 12px;
  justify-items: center;
  justify-content: start;
  align-items: center;
 
  
  

}

.item-1 {
  


}