* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px auto;
  background-color: coral;
  padding: 20px;
  max-width: 1500px;
}
