html {
  font-size: 11px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 50px auto;
  padding: 20px;
  background-color: coral;
  width: 100rem; /* 16 times 100 will be 1600px or what we set in the html font size*/
  font-size: 12px;
}

.container p {
  font-size: 2em;
}

.container h1 {
  font-size: 3em;
}
