body {
  font-family: sans-serif;
  padding: 20px;
  margin: 30px;
  background-color: thistle;
}

.container {
}

.pricing {
  display: flex;
  justify-content: center;
}

.card {
  /* min-width: 250px;
  max-width: 800px; */
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: lightblue;
  height: 400px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: center;
}

a {
  margin-top: 18px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px 50px;
  background-color: white;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}

.card ul {
  max-width: 90%;
  max-height: 90%;
  /* margin-top: 60px; */
  padding: 10px;
  list-style: none;
  margin-bottom: 10px;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
}

.card li {
  max-height: 100%;
  max-width: 100%;
  text-align: start;
  padding: 3px;
}
