body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: lightblue;
  width: 100%;
  display: flex;
}

.flex-item {
  background-color: coral;

  border: 2px solid black;
  padding: 20px;
  flex: 1 0;
}

.item-1,
.item-2 {
  /* flex-grow: 1; */
  /* flex-shrink: 2; */
}

.item-3 {
  /* flex-shrink: 0;
  flex-basis: 200px; */
}
