body {
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  background-color: hsl(120, 80%, 80%);
  justify-content: left;
  align-items: center;
  height: 390px;
  flex-wrap: wrap;
  align-content: center;
}

.item {
  background-color: hsl(0, 80%, 50%);
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
   height: 50px;
flex-basis: 100px;


  /* flex-grow: 2; */

 
}

.item-1 {
  /* flex-shrink: 3; */

}

.item-2 {
  /* flex-grow: 2; */
}