body {
  font-family: Arial, sans-serif;
}

.container {
  background-color: lightblue;
  height: 400px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch; /* Default */

  /* flex-wrap: nowrap;
  flex-shrink: 1; */
}

.item {
  width: 250px;
  height: 200px;
  border: 2px solid black;
  background-color: coral;
}
