* {
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    background-color: lightsalmon;
    padding: 30px;
}

#team-section {
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 40px;
   
}

#team-section h2 {
   font-size: 30px;
   margin-bottom: 30px;

}

.team-member-card {
   display: inline-block;
   width: 280px;
   background-color: #fff;
   max-width: 800px;
   margin: 0 auto;
   padding: 20px; 
   margin: 15px;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1) ;
   text-align: center
}

.team-member-card img {
    width: 120px;
    height: 120px; 
    border-radius: 50%;
    display: block; 
    margin: 0 auto 15px auto
}

.team-member-card h3, 
p {
    font-size: 16px;
    color: black;
    margin-bottom: 12px;

}

.social-links a {
    display: inline-block;
    padding: 5px 10px;
    background-color: lightblue;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin: 0 5px;
}

.social-links a:hover { 
    background-color: cyan;
}