* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}

.header {
  background-color: coral;
  padding: 20px;
}

.main-menu {
  background-color: aliceblue;
  display: flex;
  justify-content: start;
  padding: 15px;
  gap: 20px;
}

.main-menu li {
  margin: 6px 6px 6px 0;
}

.main {
  display: flex;
  gap: 70px;
  padding: 40px;
}

.main section {
  padding: 20px;
  flex: 1;
}

.main aside {
  width: 300px;
}

.main aside h3 {
  padding: 10px;
  background-color: coral;
  color: white;
}

.main aside li {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
}
